.title {
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
  height: 156px;
  border-bottom: 1px solid #EBEBEB;
  span {
    display: block;
    font-size: 36px;
    line-height: 1;
    padding-top: 85px;
    color: #333;
  }
}
